@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #212224;
}

a {
  text-decoration: none;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav {
  font-size: 18px;
  display: flex;
  width: 70%;
  max-width: 900px;
  margin: auto;
  background-color: #212224;
  border-radius: 3px;
}

#menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bar {
  width: 27%;
}

#dropdown-g,
#dropdown-p,
#dropdown-d {
  position: fixed;
  list-style: none;
  display: none;
}

#clear-filter {
  margin-top: 1%;
  margin-left: 10%;
}

#clear-filter,
#dropdown-link-g,
#dropdown-link-p,
#dropdown-link-d {
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}

#dropdown-g.active,
#dropdown-p.active,
#dropdown-d.active {
  display: grid;
  margin: auto;
  font-size: 12px;
  background-color: #323438;
  position: relative;
  cursor: pointer;
}

span {
  width: 100%;
}

ul li {
  text-align: center;
}

.title {
  color: white;
  text-align: center;
}

.filter {
  width: 40%;
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

#searchButton {
  color: white;
}

#games {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.games-card {
  box-shadow: 5px 7px 5px -1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 220px;
  padding: 10px;
  margin: 7px;
  color: white;
  background: #27282c;
  border-radius: 8px;
}

.games-card:hover {
  background: #2f3035;
}
